/* main content top */
.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.sidebar-toggler {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.sidebar-toggler img {
  width: 20px;
}

.content-top-title {
  color: var(--clr-white); /* White color for title */
  font-size: 20px;
  font-weight: 600;
}

.content-top-btn {
  margin-left: 18px;
}
.content-top-btns {
  display: flex;
}

.content-top-btn img {
  width: 24px;
}

.content-top-btn img:hover {
  filter: brightness(0) invert(1); /* White color on hover */
}

.content-top-left {
  display: flex;
  align-items: center;
}

/* Logout Button Container */
.logout-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Beautified Logout Button */
.logout-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, var(--clr-pumpkin), var(--clr-yellow)); /* Gradient background */
  border: none;
  border-radius: 8px;
  color: var(--clr-white);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-default);
}

.logout-btn:hover {
  background: linear-gradient(90deg, var(--clr-yellow), var(--clr-pumpkin)); /* Hover effect with reversed gradient */
  transform: scale(1.02); /* Slight scale effect on hover */
}

.logout-btn:focus {
  outline: none;
}

/* Active button state */
.logout-btn:active {
  transform: scale(0.98); /* Button slightly shrinks when clicked */
}
